html,
body {
    font-weight: 300;
    background: #222222;
    color: #D8D4F2;
    background-image: linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .85)), url("../img/cityscape2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Loading animation */
.loader {
    background-image: linear-gradient(rgba(0, 0, 0, .95), rgba(0, 0, 0, .95));
}

.loader>span {
    background-color: #FF5714;
}

.logo,
.logo h1 {
    color: #ffffff;
}

/*The overlay navigation menu*/
.nav-menu {
    background-color: #383838b3;
}

.overlay a {
    color: #D8D4F2;
    border-radius: 2rem;
}

.overlay a:nth-child(even){
    background-color: #d8d4f280;
    color: #383838;
}

.overlay a:hover,
.overlay a:focus {
    color: #FF5714;
    -moz-color: #FF5714;
    -ms-color: #FF5714;
}

/*Menu toggle icon*/
.scroll {
    background-color: rgba(0, 0, 0, 0.7);
    -ms-background-color: rgba(0, 0, 0, 0.7);
    -moz-background-color: rgba(0, 0, 0, 0.7);
}

.bar1,
.bar2,
.bar3 {
    background-color: #FF5714;
}

.change .bar1 {
    background-color: #D8D4F2;
    -ms-background-color: #D8D4F2;
    -moz-background-color: #D8D4F2;
}

.change .bar3 {
    background-color: #D8D4F2;
    -ms-background-color: #D8D4F2;
    -moz-background-color: #D8D4F2;
}

#top h1 {
    color: #FF5714;
    -ms-color: #FF5714;
    -moz-color: #FF5714;
    font-weight: 400;
}

.btn {
    color: #FF5714;
    -ms-color: #FF5714;
    -moz-color: #FF5714;
    padding: 0.9rem;
    background-color: #383838b3;
    -ms-background-color: #383838b3;
    -moz-background-color: #383838b3;
    transition: 500ms linear;
}

.btn > a{
    color: #FF5714;
    -ms-color: #FF5714;
    -moz-color: #FF5714;
}

.btn:hover,
.btn > a:hover {
    color: #ffffff;
    -ms-color: #ffffff;
    -moz-color: #ffffff;
    background-color: #FF5714;
    -ms-background-color: #FF5714;
    -moz-background-color: #FF5714;
}

.result
{
    background-color: #1e1e24;
    -ms-background-color: #1e1e24;
    -moz-background-color: #1e1e24;
    color: #D8D4F2;
    -ms-color: #D8D4F2;
    -moz-color: #D8D4F2;
}

.result:hover
{
    background-color: #46464c;
    -ms-background-color: #46464c;
    -moz-background-color: #46464c;
}

.search-bar input[type = text]
{
    background: #1E1E24;
    -ms-background: #1E1E24;
    -moz-background: #1E1E24;
    color: #D8D4F2;
    -ms-color: #D8D4F2;
    -moz-color: #D8D4F2;
}

.search-icon
{
    background-color: #ff5714;
    -ms-background-color: #ff5714;
    -moz-background-color: #ff5714;
}

.search-icon a
{
    color: #D8D4F2;
    -ms-color: #D8D4F2;
    -moz-color: #D8D4F2;
}

.card-1 {
    color: white;
    -ms-color: white;
    -moz-color: white;
    background-color: rgba(255, 87, 20, 0.2);
    -ms-background-color: rgba(255, 87, 20, 0.2);
    -moz-background-color: rgba(255, 87, 20, 0.2);
}

.card-2 {
    background-color: rgba(56, 56, 56, .7);
    -ms-background-color: rgba(56, 56, 56, .7);
    -moz-background-color: rgba(56, 56, 56, .7);
}

.hp-btn {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    overflow: hidden;
    padding: .8rem;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    color: #FF5714cc;
    -ms-color: #FF5714cc;
    -moz-color: #FF5714cc;
    background-color: #383838b3;
    -ms-background-color: #383838b3;
    -moz-background-color: #383838b3;
    font-size: .8rem;
    transition: 500ms;
}

.hp-btn:hover{
    background-color: #ff5714cc;
    -ms-background-color: #ff5714cc;
    -moz-background-color: #ff5714cc;
    color: #D8D4F2;
    -ms-color: #D8D4F2;
    -moz-color: #D8D4F2;
}

.br-btn{
    color: #383838;
    -ms-color: #383838;
    -moz-color: #383838;
    background-color: #D8D4F2;
    -ms-background-color: #D8D4F2;
    -moz-background-color: #D8D4F2;
}

.grid-card1,
.grid-card2,
.grid-card3,
.grid-card4{
    background-color: #383838cc;
    -ms-background-color: #383838cc;
    -moz-background-color: #383838cc;
}

.grid-card1 > .back-face{
    background-color: rgba(255, 87, 20, 0.2);
    -ms-background-color: rgba(255, 87, 20, 0.2);
    -moz-background-color: rgba(255, 87, 20, 0.2); 
}

.grid-card2 > .back-face{
    background-color: rgba(255, 87, 20, 0.2);
    -ms-background-color: rgba(255, 87, 20, 0.2);
    -moz-background-color: rgba(255, 87, 20, 0.2); 
}

.grid-card3 > .back-face{
    background-color: rgba(255, 87, 20, 0.2);
    -ms-background-color: rgba(255, 87, 20, 0.2);
    -moz-background-color: rgba(255, 87, 20, 0.2); 
}

.grid-card4 > .back-face{
    background-color: rgba(255, 87, 20, 0.2);
    -ms-background-color: rgba(255, 87, 20, 0.2);
    -moz-background-color: rgba(255, 87, 20, 0.2); 
}