/***************************************************************************/
/*                        Flexbox Sections Homepage                        */
/***************************************************************************/
.header, .about
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
    height: auto;
}

.column
{
    flex: 1 0 0;
    padding: 0.8rem;
    align-content: center;
}

.card-column
{
    display: flex;
    flex-direction: row;
    padding: 0.8rem;
    align-content: center;
    flex-wrap: wrap;
}

#top h1
{
    color: #FF5714;
    font-weight: 400;
}

.orange-card
{
    color: white;
    background-color: rgba(255, 87, 20, 0.2);
    box-shadow: 0 0 .125rem .125rem rgba(255, 87, 20, 0.2);
    padding: .5rem;
    text-align: left;

}

.grey-card
{
    flex: 1 0 0;
    font-size: 0.8rem;
    text-align: left;
    background-color: rgba(56, 56, 56, .7);
    box-shadow: 0 0 .125rem .125rem rgba(56, 56, 56, 0.702);
    padding: 1rem;
    margin: .5rem;
}

#section-2-btn
{
    color: #FF5714;
    padding: 0.9rem;
    background-color: rgba(56, 56, 56, 0.702);
    transition: 500ms linear;
}

#section-2-btn:hover
{
    color: #ffffff;
    background-color: #FF5714;
}

.dp
{
    border-radius: 50%;
    overflow: hidden;
}

.dp img
{
    width: 100%;
}

.more-info
{
    text-align: center;
    margin: auto;
    position: relative;
    color: #D8D4F2;
    letter-spacing: .3rem;
}