html,
body {
    background: #D8D4F2;
    color: #222222;
    background-image: linear-gradient(rgba(240, 240, 240, .85), rgba(200, 200, 200, .85)), url("../img/cityscape2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Loading animation */
.loader {
    background-image: linear-gradient(rgba(200, 200, 200, .95), rgba(200, 200, 200, .95));
}

.loader>span {
    background-color: #FF5714;
}

.logo,
.logo h1 {
    color: #222222;
}

/*The overlay navigation menu*/
.nav-menu {
    background-color: #D8D4F2cc;
}

.overlay a {
    color: #383838;
    border-radius: 2rem;
}

.overlay a:nth-child(odd){
    background-color: #38383880;
    color: #D8D4F2;
}

.overlay a:hover,
.overlay a:focus {
    color: #FF5714;
}

/*Menu toggle icon*/
.scroll {
    background-color: rgba(200, 200, 200, 0.7);
}

.change .bar1 {
    background-color: #222222;
}

.change .bar3 {
    background-color: #222222;
}

#top h1 {
    color: #222222;
    font-weight: 400;
}

.btn {
    color: #383838b3;
    padding: 0.9rem;
    background-color: #9c9c9cb3;
    font-weight: 400;
    transition: 500ms;
}

.btn:hover {
    color: #ffffff;
    background-color: #FF5714b3;
}

.card-1 {
    color: #222222;
    background-color: rgba(201, 67, 15, 0.4);
    box-shadow: 0 0 .125rem .125rem rgba(201, 67, 15, 0.4);
    padding: .5rem;
    text-align: left;

}

.card-2 {
    flex: 1;
    font-size: 0.8rem;
    text-align: left;
    background-color: rgba(156, 156, 156, .7);
    box-shadow: 0 0 .125rem .125rem rgba(156, 156, 156, 0.702);
    padding: 1rem;
    margin: .5rem;
}

.hp-btn {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    overflow: hidden;
    padding: .8rem;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    color: #FF5714cc;
    background-color: #9c9c9cb3;
    font-size: .8rem;
    transition: 500ms;
}

.hp-btn:hover {
    background-color: #ff5714cc;
    color: #D8D4F2;
}