html,
body {
    font-weight: 400;
    background: #D8D4F2;
    color: #222222;
    background-image: linear-gradient(rgba(210, 210, 210, 0.85), rgba(210, 210, 210, 0.85)), url("../img/cityscape2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Loading animation */
.loader {
    background-image: linear-gradient(rgba(200, 200, 200, .95), rgba(200, 200, 200, .95));
}

.loader>span {
    background-color: #FF5714;
}

.logo,
.logo h1 {
    color: #222222;
}

/*The overlay navigation menu*/
.nav-menu {
    background-color: #D8D4F2cc;
}

.overlay a {
    color: #222222;
    border-radius: 2rem;
}

.overlay a:nth-child(odd) {
    background-color: #38383880;
    color: #D8D4F2;
}

.overlay a:hover,
.overlay a:focus {
    color: #FF5714;
}

/*Menu toggle icon*/
.scroll {
    background-color: #c8c8c8b3;
}

.change .bar1 {
    background-color: #222222;
}

.change .bar3 {
    background-color: #222222;
}

#top h1 {
    color: #222222;
    font-weight: 400;
}

.btn {
    color: #222222;
    padding: 0.9rem;
    background-color: #9c9c9cb3;
    font-weight: 400;
    transition: 500ms;
}

.btn:hover {
    color: #ffffff;
    background-color: #FF5714b3;
}

.result
{
    background-color: #9c9c9c;
    -ms-background-color: #9c9c9c;
    -moz-background-color: #9c9c9c;
    color: #222222;
    -ms-color: #222222;
    -moz-color: #222222;
}

.result:hover
{
    background-color: #D8D4F2;
    -ms-background-color: #D8D4F2;
    -moz-background-color: #D8D4F2;
    color: #222222;
    -ms-color: #222222;
    -moz-color: #222222;
}

.search-bar input[type = text]
{
    background: #9c9c9c;
    -ms-background: #9c9c9c;
    -moz-background: #9c9c9c;
    color: #222222;
    -ms-color: #222222;
    -moz-color: #222222;
}

.search-icon
{
    background-color: #383838;
    -ms-background-color: #383838;
    -moz-background-color: #383838;
}

.search-icon a
{
    color: #D8D4F2;
    -ms-color: #D8D4F2;
    -moz-color: #D8D4F2;
}

.card-1 {
    color: #222222;
    -ms-color: #222222;
    -moz-color: #222222;
    background-color: rgba(201, 67, 15, 0.4);
    -ms-background-color: rgba(201, 67, 15, 0.4);
    -moz-background-color: rgba(201, 67, 15, 0.4);

}

.card-2 {
    background-color: #9c9c9cb3;
    -ms-background-color: #9c9c9cb3;
    -moz-background-color: #9c9c9cb3;
}

.hp-btn {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    overflow: hidden;
    padding: .8rem;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    color: #222222;
    background-color: #9c9c9cb3;
    font-size: .8rem;
    transition: 500ms;
}

.hp-btn:hover {
    background-color: #ff5714cc;
    color: #D8D4F2;
}

.br-btn{
    color: #FF5714;
    -ms-color: #FF5714;
    -moz-color: #FF5714;
    background-color: #222222;
    -ms-background-color: #222222;
    -moz-background-color: #222222;
}

.grid-card1,
.grid-card2,
.grid-card3,
.grid-card4 {
    background-color: #9c9c9ccc;
    -ms-background-color: #9c9c9ccc;
    -moz-background-color: #9c9c9ccc;
}

.grid-card1>.back-face {
    background-color: #38383833;
    -ms-background-color: #38383833;
    -moz-background-color: #38383833;
}

.grid-card2>.back-face {
    background-color: #38383833;
    -ms-background-color: #38383833;
    -moz-background-color: #38383833;
}

.grid-card3>.back-face {
    background-color: #38383833;
    -ms-background-color: #38383833;
    -moz-background-color: #38383833;
}

.grid-card4>.back-face {
    background-color: #38383833;
    -ms-background-color: #38383833;
    -moz-background-color: #38383833;
}