/***************************************************************************/
/*                        Search Bar Section Homepage                      */
/***************************************************************************/

.search-page
{
    position: relative;
    text-align: center;
    width: 100%;
}

.search-bar
{
    margin: auto;
    
    height: 15rem;
    padding: 2rem;
}

#dialogue-box
{
    margin: auto;
    max-height: calc(4.85rem * 3);
    width: 40%;
    overflow-y: scroll;
}

#dialogue-box::-webkit-scrollbar
{
    scrollbar-width: 0;
}

.result
{
    margin: .25rem;
    cursor: pointer;
    padding: .3rem;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(30, 30, 36);
    color: #D8D4F2;
    transition: 500ms;
}

.result:hover
{
    background-color: rgb(70, 70, 76);
}

.search-bar input
{
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    outline: none;
}

.search-bar input[type = text]
{
    width: 40%;
    padding: 1rem 3.5rem 1rem 3.5rem;
    letter-spacing: 0.25rem;
    border: none;
    background: #1E1E24;
    color: #D8D4F2;
}

.search-icon
{
    position: relative;
    cursor: pointer;
    display: inline-block;
    right: 3.2rem;
    vertical-align: middle;
    padding: .6rem;
    background-color: #ff5714;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
}

.search-icon i
{
    vertical-align: text-top;
}

.search-icon a
{
    color: #D8D4F2;
}
